@import "tailwindcss";
@font-face {
  font-family: "Nico Moji";
  src: url("https://db.onlinewebfonts.com/t/73c00071d90ecfb78bf0ccdeda529307.eot");
  src: url("https://db.onlinewebfonts.com/t/73c00071d90ecfb78bf0ccdeda529307.woff")
    format("woff");
  font-display: swap;

}
:root {
  --background: #000000;
  --foreground: #d47af2;
  --font-nicomoji: "Nico Moji";
}
@theme {
  --font-brandFont: var(--font-nicomoji);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


    