@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
}

.scrollContainer {
  color: var(--textcolor);
  z-index: 50;
  pointer-events: none;
}
