@import "tailwindcss";

body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.Canvas-Conatiner {
  width: 100% !important;
  height: 100vh !important;
  position: fixed !important;
  overflow:hidden !important;
}

.overlay-content {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
}
